body
{
    text-align: center;
    background: linear-gradient( #6103f8 , lime ,#6103f8  );
}




    

#mc img{
    height: 300px;
    margin-top:35px;\

}
.carousel-inner p{
margin-top: 15px;
color: whitesmoke;
font-size: 20px;
}

